/* Default config and background image */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,400&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background_image {
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    left:0;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    animation: slider 12.5s infinite;
}

.slides .background_image:nth-child(1){
    background-image: url("images/771259.jpg");
    animation-delay: -0;
}

.slides .background_image:nth-child(2){
    background-image: url("images/42025.jpg");
    animation-delay: -2.5s;
}

.slides .background_image:nth-child(3){
    background-image: url("images/740296.png");
    animation-delay: -5s;
}

.slides .background_image:nth-child(4){
    background-image: url("images/2813640.jpg");
    animation-delay: -7.5s;
}

.slides .background_image:nth-child(5){
    background-image: url("images/1167501.jpg");
    animation-delay: -10s;
}

@keyframes slider {
    0%, 16%, 100% {
      opacity: 1;
      animation-timing-function: ease;
      z-index: 0;
    }
    20% {
      opacity: 0;
      animation-timing-function: step-end;
      z-index: 0;
    }
    96% {
      opacity: 1;
      animation-timing-function: step-end;
      z-index: -1;
    }
  }






/* For header: logo and navbar */
header{
    z-index: 999;
    position: fixed;
    top:0;
    left:0;
    width: 100%;

}

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 4rem;

}

header .navbar .logo,
.navbar-link {
    padding-top: 0.8rem;

}

header .navbar .logo img {
    height: 3rem;
}

.navbar-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.navbar-link ul li{
    list-style-type: none;
    margin: 0 1.8rem;
    
}
.navbar-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.navbar-link a:hover {
    color: yellow;
}

/* For content of header */
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3.5rem 0;
}

.film-info{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film-name{
    color: #ffffff;
    font-size: 4em;
    font-weight: bolder;

}

.info_1{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    font-size: 14px;
}

.info_1 > div{
    display: flex;
    flex-direction: row;
    padding:  0;
    font-size: 16px;
    padding-right: 1rem;
    margin-bottom: 0;
}

.info_1 p{
    margin:0;
}

.info_1 i{
    color: yellow;
    padding-top: 3px;
    font-size: small;
    padding-right: 4px;
    height: fit-content;
}

.info_1 .type{
    height: fit-content;
}

.review p {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.85rem;

}

.review p span{
    color: yellow;;
}

.right{
    float: right;
    color: white;
    display: flex;
    flex-direction: column;
    align-self: end;
    justify-content: center;
}

.right >p{
    float: right;
    text-align: right;
    direction: rtl;
    width: 100%;
}

.right >p>span{
    color: yellow;
}

.buttons{
    font-weight: bold;
    padding: 0.5rem;
    margin: 0 1rem 0 0;
    border: 2px solid yellow;
    border-radius: 2px;
    /* width: 6rem; */
}

.primary{
    background-color: yellow;
    color: #2c154d;
    
}

.secondary{
    color: yellow;
    background-color:transparent ;
}

.slides{
 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

header.sticky{
    background-color: #252324;
}

.watching{
    position: relative;
    border-top: 10vh solid #071524;
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

video{
    width: 100%;
    height: 90vh;
    border: none;
    box-sizing: border-box;
    color: #252324;
    background-color: black;
    outline: none;;
}

.watch_detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem 3rem 3rem 3rem;
    background-color: #06121e;
    color: #ffffff;
    font-family: 'Merriweather', serif;
}

.buttons{
    transition: all 0.25s;
    cursor: pointer;
}


 .tertiary {
    background-color: transparent;
    padding: 0.6rem;
    border: 1px solid #48c78e;
    color: #48c78e;
}
.quaternary{
    background-color: transparent;
    padding: 0.6rem;
    border: 1px solid #3e8ed0;
    color: #3e8ed0;
}

.tertiary:hover {
    color: #ffffff;
    background-color: #48c78e;
}
.quaternary:hover{
    color: #ffffff;
    background-color: #3e8ed0;
}


.back>a{
    color: #3e8ed0;
    text-decoration: none;
}

.back>a:hover{
    color: yellow;
    text-decoration: underline;
}
.hd{
    padding: 1.5rem;
    margin: 0;
    text-align: center;
    color: #ffffff;
    background-color: #06121e;
    font-weight: lighter;
    font-size: 80%;
}

