/* Default config and background image */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.background_image {
    background-image: url("images/771259.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}





/* For header: logo and navbar */

header .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.2rem 4rem;

}

header .navbar .logo,
.navbar-link {
    padding-top: 0.8rem;

}

header .navbar .logo img {
    height: 3rem;
}

.navbar-link ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.navbar-link ul li{
    list-style-type: none;
    margin: 0 1.8rem;
    
}
.navbar-link a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

/* For content of header */
.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3.5rem;
}

.film-info{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.film-name{
    color: #ffffff;
    font-size: 4em;
    font-weight: bolder;

}

.info_1{
    color: #ffffff;
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    font-size: 14px;
}

.info_1 > div{
    display: flex;
    flex-direction: row;
    padding:  0;
    font-size: 16px;
    padding-right: 1rem;
    margin-bottom: 0;
}

.info_1 p{
    margin:0;
}

.info_1 i{
    color: yellow;
    padding-top: 3px;
    font-size: small;
    padding-right: 4px;
    height: fit-content;
}

.info_1 .type{
    height: fit-content;
}

.review p {
    color: #ffffff;
    font-weight: 600;
    font-size: 0.85rem;

}

.review p span{
    color: yellow;;
}



